MONGO_URI=mongodb+srv://namitaaa183_db_user:LjVaT1HyllNnAoZr@cluster0.tkf9ym8.mongodb.net/?appName=Cluster0
PORT=5000
JWT_SECRET=myVeryStrongSecretKey123
NODE_ENV=production
CLIENT_URL=http://localhost:5173
